@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
}

html,
body,
#app,
#app,
#root {
  height: 100%;
  width: 100%;
}
