@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.plainLogo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.gameLogo {
  width: 35px;
  height: 35px;
}

.headerContainer {
  height: 100%;
  justify-content: flex-start;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  width: 22%;
}

.userText {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
}

body {
  background-color: #302e2b;
  font-family: 'Inter';
}

.game-buttons-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  cursor: pointer;
}

.gameButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 240px;
  height: 60px;
  background-color: #262522;
  box-shadow: 0 0.5rem 0 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  color: white;
}

.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.imagePanel img {
  flex-shrink: 0;
  height: 250px;
  object-fit: cover;
}

.imagePanel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.statsPanel {
  width: 100%;
  height: 100%;
  background: white;
}

.statsHeader {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin: 25px;
  align-items: center;
  gap: 30px;
  margin-left: 75px;
}

.statsHeader ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 45px;
  cursor: pointer;
}

.statsHeader ul li {
  color: #515151;
}

#searchBar {
  margin-left: auto;
  margin-right: 200px;
}

#exampleFormControlInput2 {
  width: 300px;
  background: #e1e1e1;
  border: none;
  border-radius: 50px;
  color: black;
}

input::placeholder {
  color: #222222;
}

.imageStats {
  display: flex;
  gap: 75px;
  margin-left: 55px;
  margin-top: 30px;
}
